:root {
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 80%;
  padding: 0;
  margin: 0;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: royalblue;
  color: white;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(10, min-content);
  gap: 10px;
  padding: 20px;
  font-weight: 500;
}

.header {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
}

.main {
  grid-column: 2;
  grid-row: 2;
  background-color: lightgray;
}

.nav img:not(.title-icon) {
  width: 20px;
  justify-self: center;
}

.nav div:not(.title-text) {
  align-self: center;
}

.title-icon {
  width: 30px;
  justify-self: center;
}

.title-text {
  font-size: 24px;
  padding-bottom: 30px;
}

.communities-text {
  padding-bottom: 30px;
}
